<h2>Editing Restaurant</h2>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant, class: "btn btn-info"%> |
<%= link_to 'Back', restaurants_path, class: "btn btn-secondary overwrite"%>
